@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  background-image: url("./images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.titulo_principal,
.card-title,
.titulo_contactos {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;

  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-item {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-item:hover,
.nav-item:active {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.card {
  padding: 0.5rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
}
.card-img-top {
  height: 18rem;
  border-radius: 10px;
}

.novidade {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  height: 20px;
}

.more {
  height: 30px;
  width: 60px;
  background-image: url("./images/view-more.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: 0;
}

.more:hover {
  background-image: url("./images/view-more2.png");
}

.about {
  padding: 0.5rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  max-width: 80%;
  margin-left: 10%;
}

.about-img {
  max-width: 500px;
  border-radius: 10px;
}

.back {
  height: 60px;
  width: 60px;
  background-image: url("./images/back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
}

.back:hover {
  background-image: url("./images/back2.png");
}

button.cart {
  height: 70px;
  width: 70px;
  background-image: url("./images/shopping-cart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border-radius: 50%;
}

.cart:hover {
  background-image: url("./images/shopping-cart2.png");
}
footer {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
}
