@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  background-image: url("./images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.titulo_principal,
.card-title {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;

  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-item {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-item:hover,
.nav-item:active {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card {
  padding: 0.5rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.55);
}
.card-img-top {
  height: 18rem;
  border-radius: 10px;
}

footer {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
}
